.disciplina-page {
    display: flex;
    height: 90vh; /* O header tem 10vh de altura*/
    width: 100vw;
}

.conteudo {
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* background-color: aqua; */
    flex: 1;
    padding: 10px;
}

.conteudo-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start; /* corrigido */
    /* background-color: #007bff; */
    gap: 10px;
    margin-bottom: 10px;
}

.conteudo-nav > a {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.conteudo-nav > a:hover {
    background-color: #ddd;
}

h2{
    color: #0000008f;
}

.conteudo-list {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    /* background-color: #801c1c; */
    gap: 20px;
}

.conteudo-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.conteudo-item > h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.conteudo-item > video,
.conteudo-item > iframe {
    width: 100%;
    height: auto;
}

.conteudo-item > a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

.conteudo-item > a:hover {
    text-decoration: underline;
}