.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;  /* afinei a barra */
    background-color: #f4f4f4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.headerContent {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.headerLogo {
    height: 80%;
    object-fit: contain;
}

.headerNav {
    display: flex;
    gap: 20px;
}



ul{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
}
.link{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 0.5rem;
    position: relative;

}

.link::before{
    bottom: 0;
    left: 0;
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    color: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.link:hover::before {
    transform: scaleX(1);
    color: black;
}