:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --vermelho:  #DB1E2F;
    --vermelho-claro: #f5516c;
    --vermelho-escuro:  #AF0421;
    --preto:  #231F20;
    --cinza-claro:  #E0E1E0;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  

  /* Adicione isso ao seu arquivo de estilos globais ou main.css */
.mainContainer {
  padding-top: 10vh; /* mesma altura do header */
  display: flex;
  flex-direction: column;
}