.header {
    display: flex;
    margin: auto;
    height: 10dvh;
    width: 100%;
    background: rgba(238, 238, 238, 0.205);
    object-fit: contain;
}

.flex {
    display: flex;
    align-items: center;
    object-fit: contain;
}

header{
    margin: auto;
    height: 10dvh;
    width: 100%;
    background: rgba(255, 0, 0, 0.322);
    object-fit: contain;
}


main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}


nav {
    all: unset;
    height: 100dvh;
    width: 25dvw;
    display: flex;
    flex-direction: column; /* Faz com que os links fiquem um abaixo do outro */
    gap: 15px;
    margin-right: auto;
    background-color: rgba(238, 238, 238, 0.205);
}

nav > a {
    height: 40px;
    width: 100%; /* Faz com que cada link ocupe toda a largura disponível */
    word-wrap: break-word; /* Garante a quebra de palavras longas */
    overflow-wrap: break-word;
    white-space: normal; /* Permite quebra de linha automática */
    font-size: 1.5rem;
}

a {
    all: unset;
    width: auto;
    border-bottom: 2px solid #ff0000; /* Borda apenas abaixo do texto */
    display: inline-block; /* Faz com que o tamanho do elemento se ajuste ao conteúdo */
    color: #000000;
    font-weight: 600;
}