.sidebar {
    height: 90vh;
    width: 25vw;
    background-color: #c2c2c2;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar > h3 {
    color: black;
    font-size: 26px;
    margin-bottom: 10px;
}

.sidebar > ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}