.sidebar {
    height: 88vh;
    width: 20vw;
    background-color: rgba(213, 1, 34, 1);
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    color: white;
    text-align: left;
   
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
}
.sidebar-lista{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0px; /* Espaçamento entre os itens */
    text-align: left;

}
.sidebar > h3 {
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid whitesmoke
}

.sidebar > ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.sidebar ul li {
    margin-bottom: 10px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    text-align: left;
}

.sidebar ul li a:hover {
    text-decoration: underline;
    color: #ffcccc;
}

.sidebar-button{
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    padding: 5px 0;
    transition: color 0.3s;
}

.sidebar-button:hover {
    color: #ffcccc; /* Cor mais clara ao passar o mouse */
    text-decoration: underline;
}