/* ----------------------------------------------------------- TELA DE LOGIN -----------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-info {
    margin: auto;
    height: auto;
    width: 30dvw;
    background: rgb(41,75,182);
    background: linear-gradient(90deg, rgba(41,75,182,1) 0%, rgba(33,104,198,1) 36%, rgba(28,120,206,1) 70%, rgba(26,126,210,1) 80%, rgba(23,136,215,1) 100%, rgba(19,150,222,1) 100%, rgba(19,150,222,1) 100%);
    border-radius: 0px;
    object-fit: contain;
    flex-wrap: wrap;
}

#Login {
    border-bottom: 2px solid #fff; /* Borda apenas abaixo do texto */
    display: inline-block; /* Faz com que o tamanho do elemento se ajuste ao conteúdo */
    color: #fff;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 10%;
    width: auto; 
}

.Legenda{
    font-size: 0.95rem;
    color: #fff;
    margin-top: 10% ;
    margin-left: 10% ;
    margin-bottom: 0px ;
}

#Email, #Senha {
    all: unset;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    height: 40px; /* Defina um tamanho fixo para evitar mudanças */
    padding: 10px 0; /* Apenas padding superior e inferior */
    margin-left: 10%;
    border-width: 0 0 1px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.795);
    box-sizing: border-box; /* Mantém a largura ao adicionar padding */
    transition: border-color 0.3s, color 0.3s;
}

#Email:hover, #Senha:hover,
#Email:focus, #Senha:focus {
    padding: 20px 0;
    border-color: rgb(255, 255, 255); /* Mantém a cor da borda */
    color: #ddd; /* Mantém a cor do texto */
    background-color: rgba(0, 0, 0, 0); /* Mantém o fundo transparente */
    outline: none; /* Remove o contorno padrão do navegador */
}

.FazerLogin {
    all: unset;
    display: block;
    align-items: center;
    background-color: #1396de;
    width: 80%;
    height: 60px; /* Tamanho fixo */
    padding: 0 20px; /* Apenas padding horizontal */
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: 10%;
    border-width: 1px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.795);
    box-sizing: border-box;
    transition: border-color 0.3s, color 0.3s;
    text-align: center; /* Alinha o texto horizontalmente */
    line-height: 50px; /* Centraliza verticalmente */
}

.EsqueceuSenha {
    all: unset;
    display: block;
    background-color: #1397de00;
    width: 80%;
    height: 60px; /* Tamanho fixo */
    padding: 0 5px; /* Apenas padding horizontal */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    border-width: 0px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.795);
    text-align: center; /* Alinha o texto horizontalmente */
}

/* Media query para telas menores que 768px */
@media screen and (max-width: 768px) {
    .container-info {
        width:100vw; /* Largura total em telas pequenas */
        height:100vh; /* Largura total em telas pequenas */
        padding: 5px;
        box-shadow: none; /* Remover sombra em telas muito pequenas */
    }

    #Login {
        margin-top: 20%;
    }

    #Email, #Senha {
        padding: 20px 0; /* Apenas padding superior e inferior */
        margin-left: 10%;
    }
}
